.selectTable {
    span {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        svg {
            margin-right: 7px;
        }
    }
}

.indexmoto {
    >div {}
}
