h1 {
    color: #000000;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 3fr;
    flex-grow: 1;

    > div {
        margin: 20px;
        border-radius: 4px;
        box-shadow: 0 0 10px #00000045;

        > h1 {
            margin: 50px;
        }
    }

    .red {
        background-color: #FF0000;
    }
    
    .green {
        background-color: #00FF00;
    }
    
    .blue {
        background-color: #0000FF;
    }
    
    .yellow {
        background-color: #FFFF00;
    }
}